<section class="bg-white h-96 w-full flex flex-col justify-center items-center">
    <article class="max-w-screen-xl flex flex-col items-center justify-center p-10 ">
        <a href="#" class="relative h-36 ">
            <img src="/img/png/ubicacion-b.png" alt="ubicacion" class="h-28 hover:h-36 transition ease-linear delay-75 bottom-0 ">
        </a>
        MÁS DE 28 CAMPUS Y 10 FACULTADES DE MEDICINA.<br>
        EDUCACIÓN A TU RITMO DE VIDA.
    </article>
</section>