<section class="h-screen w-full md:h-[720px] bg-neutral-800 text-neutral-400 flex flex-col justify-center items-center ">
  <article
    class="flex flex-col max-w-screen-xl justify-items-center items-center tracking-widest md:tracking-wide leading-relaxed"
  >
    <header class="text-center">
      <h1 class="text-3xl">UNIVERSIDAD AUTÓNOMA DE DURANGO.</h1>
      <p class="text-2xl">
          Mensaje del Rector.
      </p>
      
      
    </header>
    <div class="my-4">
        <img src="/img/jpg/rector.jpg" alt="rector" class="rounded-full "/>
    </div>
    <div class="text-center indent-8 mx-4">
        <p>
            Bienvenidos a este espacio de información, donde la UAD quiere mostrar al
            mundo parte de su imagen y proyecto educativo. Quienes pertenecemos a
            “Lobos” estamos comprometidos a brindar el máximo de nuestros esfuerzos
            para lograr hacer de esta institución una opción de excelencia, basada en
            valores y principios que nuestros docentes imprimen en cada una de sus
            cátedras. Somos formadores de Hombres Líderes comprometidos con su
        </p>
        <p>
            profesión, que aman a su país y creen firmemente en el desarrollo de su
            sociedad. El Proyecto Lobos, gracias a su aceptación y reconocimiento
            ofrece sus estudios en 28 campus. Esperamos que nos visiten muy seguido y
            que formen parte del proyecto Lobos, sinceramente.
        </p>
    </div>
    <footer class="text-center my-2">
      ¡Muchas gracias y bienvenidos! 
      <br>
      Dr. Martín Gerardo Soriano Sariñana.
      <h3>
        SIEMPRE <b>GRANDES</b> SIEMPRE <b>LOBOS</b>
      </h3>
    </footer>
  </article>
</section>
