---

---
<section class="w-full h-32 bg-transparent z-10">
        <article class="flex flex-wrap justify-center items-center  ">
            <div class="">
                <h4> 
                    ¿Ya estas inscrito? ingresa a:
                </h4>
                <a href="#">
                    <img src="/img/svg/tag_portal_uad_durango.svg" alt="">
                </a>
            </div>
        </article>
</section>
